= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Назва'
    = f.input :start_time, label: 'Дата початку'
    = f.input :end_time, label: 'Дата закінчення'
    = f.input :description, label: 'Опис'
    = f.input :address, label: 'Адреса', class: 'address', input_html: { id: 'gmaps-input-address'}, placeholder: ''
    .details
      = f.input :latitude, as: :hidden, input_html: {data: {geo: "lat"} }
      = f.input :longitude, as: :hidden, input_html: {data: {geo: "lng"} }
    = f.input :photo, label: 'Фото'

  .form-actions
    = f.submit 'Додати', class: 'btn btn-primary'
