%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Start time
      %th End time
      %th Description
      %th Address
      %th Photo
      %th
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.start_time
        %td= event.end_time
        %td= event.description
        %td= event.address
        %td= event.photo
        %td= link_to 'Зареєструватися', new_appointment_path( :event_id => event.id)
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
