%h1 Listing appointments

%table
  %thead
    %tr
      %th User
      %th Event
      %th Notice
      %th Payment
      %th Paid
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.user
        %td= appointment.event
        %td= appointment.notice
        %td= appointment.payment
        %td= appointment.paid
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
