%li= link_to 'Події', events_path
- if user_signed_in?
  //%li= link_to 'Редагувати профіль', edit_user_registration_path
  %li= link_to 'Записи', appointments_path if current_user.servant?
  %li= link_to 'Вийти', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Увійти', new_user_session_path
  %li= link_to 'Зареєструватися', new_user_registration_path
%li= link_to 'Про Нас', static_pages_about_path
- if user_signed_in?
  - if current_user.try(:admin?)
    %li= link_to 'Admin', '/admin'
    %li= link_to 'Users', users_path

